# General
NODE_ENV=development
PORT=3000
DOMAIN_ALLOWED_CORS="http://localhost"

# OpenAI
OPENAI_API_KEY=sk-...

# WooCommerce
WOOCOMMERCE_BASE_URL=https://tu-sitio.com/wp-json/wc/v3
WOOCOMMERCE_CONSUMER_KEY=ck_...
WOOCOMMERCE_CONSUMER_SECRET=cs_...